/*
 * BG color for header
 */
.mdl-layout__header{
  background-color: #2f4257;
}

/*
 * BG color for footer
 */
.mdl-mini-footer{
  background-color: #212121;
}

/*
 * BG color for main buttons
 */
.mdl-button--raised.mdl-button--colored{
  background-color: #2f4257;
}

/*
 * BG color for main buttons
 */
.mdl-button--raised.mdl-button--colored:hover{
  background-color: #2f4257;
}

/*
 * Button that add new marker on map
 */
.btn-add{
  position: fixed;
  bottom: 110px;
  right: 10px;
  z-index: 2;
}

/*
 * Container for Google maps
 */
#map{
  height: 100%;
  width: 100%;
}

/*
 * Conteiner for Google maps and associed content
 */
#mapcont{
  height: 100%;
}

/*
 * Conteiner for index page
 */
.index{
  background: none;
  box-shadow: none;
}

/*
 * Conteiner for index BG
 */
.index-bg{
  background: url("../img/bg.jpg");
  filter: blur(5px);
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  position: absolute;
}

/*
 * Custom styles for dialog element
 */
.mdl-dialog{
  margin-top: -80px;
  width: 30%;
  min-width: 257px;
}

/*
 * Custom styles for radio-button element
 */
.mdl-radio__label{
  margin-right: 10px;
}

/*
 * Custom styles for dialog title
 */
.mdl-dialog__title{
  font-size: 2.3rem;
}

/*
 * Custom styles for top menu itens
 */
.mdl-navigation__link{
  font-size: 16px;
}

.mdl-layout-title{
  margin-left: -55px;
}

.mdl-textfield{
  width: 100%;
}
